@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans 3', sans-serif;
}
.main-container{
    margin: 0 150px;
    border: 2px solid red;
}

.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
    background: none;
    border: none;
}

.hamburger img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
header {
    background-image: url("images/headphones_hero_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 2px solid red;
}

a {
    text-decoration: none;
}

a:hover, a:visited, a:active {
    color: #fff;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
    flex-wrap: wrap;
}

.nav-img-container {
    max-width: 160px;
    max-height: 32px;
}
.nav-ul-item {
    margin: 0 15px;
}

.nav-ul-item a {
    color: #fff;
}

.header-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 350px;
    margin-left: 25px;
}

h4 {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 0px auto;
}

.button {
    background-color: #FF6565;
    color: #fff;
    text-align: center;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 40px auto;
}

.button:hover {
    cursor: pointer;
}

.header-text {
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    width: 40rem;
    height: 3.5rem;
    margin: 5rem auto;
    text-align: center;
}

@media (max-width: 768px) {
    .div-list {
        display: none;
    }

    .nav-img-container {
        margin: 0 auto;
        min-width: 160px;
        min-height: 32px;
    }

    .nav-ul-item {
        margin-bottom: 30px;
    }
    
    .hamburger {
        display: block;
    }

    .close-icon {
        display: none;
    }

    #hamburger-toggle {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #hamburger-toggle:checked ~ .open-icon {
        display: none;
    }
    #hamburger-toggle:checked ~ .close-icon {
        display: block;
    }

    #hamburger-toggle:checked ~ .div-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .header-text{
        max-width: 30rem;
        height: 4rem;  
    }
    }